.homeLink{
    display: inline-block;
	text-decoration: none;
	padding: 12px;
	font-weight: 700;
	color: #218521;
    font-size: 20px;
}

.homeLink:hover{
    color: #00ff00;
}



.buildLinkClass{
	font-weight: 700;
	color: #218521;
    font-size: 20px;
	text-decoration: none;
}

.buildLinkClass:hover{
    color: #00ff00;
}