.form {
	width: 320px;
}

.label {
	display: flex;
	flex-direction: column;
	margin-bottom: 12px;
}

.formContact {
	margin: auto;
	border: 2px solid green;
	border-radius: 8px;
	width: 320px;
	padding: 20px;
	margin-bottom: 34px;
}

.formLabel {
	text-align: start;
	display: block;
	margin-bottom: 12px;
}

.formInputWrapper {
	position: relative;
}

.formInput {
	width: 94.2%;
	padding: 10px;
	border: 1px solid green;
	border-radius: 5px;
	background-color: #001a00;
	color: green;
	font-size: 14px;
	margin-bottom: 20px;
}

.formErrorMessage {
	position: absolute;
	top: 38px; 
	left: 6px;
	font-size: 14px;
	color: tomato;
	font-weight: bold;
	padding: 4px 8px;
	border-radius: 4px;
}

.formButton {
	background-color: green;
	color: #001a00;
	border: none;
	padding: 10px 20px;
	font-size: 16px;
	cursor: pointer;
	border-radius: 5px;
    margin-top: 6px;
	transition: background-color 0.3s;
}
